# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/
bin/

# Ignore any IDE configuration files.
.idea
.vscode

# Configuration files
token.txt
mongo.txt

# Misc. files
*.tsv
.DS_Store
*.wav